{% extends 'base.html' %}



{% block breadcrumb %}
  <li class="breadcrumb float-right">
    <a class="btn btn-primary" href="{% url 'medicine_new' %}"> Add Medicine</a>
  </li>
{% endblock breadcrumb %}

{% block title %} Medicine's List {% endblock title %}

{% block content %}
<div class="table-responsive">
  <table id='medicinetable' class="table table-bordered table-striped table-dark" data-page-length='100'>
    <thead class="thead-dark">
      <tr>
        <th>S/N</th>
        <th>Medicine name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Expiry Date</th>
        <th>Shop Name</th>
        <th>Mobile Number</th>
      </tr>
    </thead>
    <tbody>
      {% for medicine in medicines %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ medicine.medicine_name}}</td>
          <td>{{ medicine.medicine_quantity }}</td>
          <td>Rs. {{ medicine.medicine_price }}</td>
          <td>{{ medicine.expiry_date|date:"dS M, Y" }}</td>      
          <td>{{ medicine.medicine_added_by.profile.shop_name }}</td>
          <td>{{ medicine.medicine_added_by.profile.mobile_number }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
  {% block morejs %}
  <script type="text/javascript">
    $(document).ready(function() {
      $('#medicinetable').DataTable();
    } );
  </script>
  {% endblock morejs %}